.form {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

a {
  color: #39f;
  font-weight: bold;
  text-decoration: none;
}

label, input.text, input.password {
  display: block;
  width: 100%;
}

label {
  color: #555;
  font-size: 0.9em;
  margin-top: 1em;
}

label span {
  color: #999;
}

input {
    max-width: 300px;
}

input.text, input.password {
  border: none;
  border-bottom: 1px solid #666;
  font-size: 1em;
  display: inline;
  margin-right: 1em;
  width: auto;
}

div.password {
  max-width: 50%;
  display: inline;
}

div.password .show {
  display: inline;
  font-size: 0.6em;
  font-weight: bold;
  padding-top: 0.5em;
  text-transform: uppercase;
}

div.password .show label {
  display: inline;
}

.generator input {
  font-family: Monaco, Courier New, monospace;
}

#reset-form {
    float: left;

}

@media (max-width: 400px) {
  .container { width: 100%; box-shadow: none; border: 0; min-width: 0; margin: 0 auto; }
  .form { border-top: 0; }
  .sub { padding: 0 0.3em 0.7em; }
  .sub input { width: auto; }
  .generator { width: auto; }
  .generator input { width: 100%; }
  input.password { width: 200px; margin-right: 0; }
}

