.sub {
  margin: 0 auto;
  padding: 0 1em 1.2em;
  width: 600px;
}

.form {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

a {
  color: #39f;
  font-weight: bold;
  text-decoration: none;
}

label, input.text, input.password {
  display: block;
  width: 100%;
}

label {
  color: #555;
  font-size: 0.9em;
  margin-top: 1em;
}

label span {
  color: #999;
}

input {
    max-width: 300px;
}

input.text, input.password {
  border: none;
  border-bottom: 1px solid #666;
  font-size: 1em;
}

.password input.text, .password input.password {
  display: inline;
  margin-right: 1em;
  width: 80%;
}

.password .show {
  float: right;
  font-size: 0.6em;
  font-weight: bold;
  padding-top: 0.5em;
  text-transform: uppercase;
}

.password .show label {
  display: inline;
}

.generator {
    margin: 1rem auto !important;
}

.generator input {
  font-family: Monaco, Courier New, monospace;
}

#reset-form {
    position: relative;
    display: inline;
    padding: 1em;
    font-weight: bold;
    margin: .6em 0;
    float: left;
    width: 30%;
}

@media (max-width: 800px) {
  .container {width: 100%; box-shadow: none; border: 0; min-width: 0}
  .sub { margin: none; width: auto; }
  .generator {width: auto;}
}

